@import './variables.scss';
@import './components/login.scss';
@import './components/nav.scss';
@import './components/home.scss';
@import './components/map.scss';
@import './components/showCase.scss';
@import './components/miniMap.scss';
@import './components/about.scss';
@import './components/profile.scss';


#root {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0
}

body{
  // background: rgb(255,255,255);
  // background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(165,222,241,1) 100%);
  // background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(165,222,241,1) 100%);
  // background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(165,222,241,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#a5def1",GradientType=1);
}

#scroll-to-top{
  height: 30px;
  width: 30px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  float: right;
  right: 40px;
  bottom: 15px;
  position: fixed;
  margin-bottom: 5px;
  background-image: url('../images/black-up-arrow.jpeg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 100%;
}

.form{
  max-width: 696px;
  margin: 0 auto;
  #form-pin-image{
    display: flex;
    justify-content: center;
    img{
      max-width: 100%;
    }
  }
}