.map-container{
  .container{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background-color: white;
    width: 80%;
    
  }
  height: 100vh;
  width: 100%;
  #map-filter-button{
    background-color: rgb(255, 255, 255);
    margin-top: 0.5%;
    margin-left: 0.5%;
  }
  .collapse, .show, .container{
    margin-top: 45px;
    color: black;
    width: 30vw;
    border-radius: 5px;
  }
  @media only screen and (max-width: 800px) {
    .collapse, .show, .container{
      width: 80%;
    }
  }
}

.mapboxgl-marker {
  width: 25px;
  height: 25px;
  font-size: 30px;
  // border-radius: 50%;
  // border:1px solid gray;
  // background-color:lightblue;
}

#map-pin, .map-pin {
  background-image: url('../../images/Diamond-pin.png') !important; 
  background-size:contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: none;


  &:active{
    background-image: url('../../images/Diamond-pin-down.png') !important;
  }
  &:hover{
    background-image: url('../../images/Diamond-pin-down.png') !important;
    border-radius: 50px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
    @keyframes pulse {
      0% {
        transform: scale(1);
        box-shadow: 0 5px 0 0 rgb(0, 0, 0, 0);
      }
    
      70% {
        transform: scale(1.2);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
      }
    
      100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
    }
  }
}

.mapboxgl-popup, .mapboxgl-popup-anchor-bottom {
  max-height: 300px;
}

.mapboxgl-popup-content{
  background-color: rgba(128, 128, 128, 0.904) !important;
  border-radius: 5px !important;
  #new-popup{
    div{
      display: flex;
    }
  }
  .mapboxgl-popup-close-button{
    background-color: rgba(179, 247, 244, 0.527);
    border-radius: 25px;
    width: 20px;
    padding: 0;
    margin-top: 3px;
    margin-right: 3px;
    &:hover{
      background-color: rgba(255, 0, 0, 0.685);
    }

  }
  div{
    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        max-height: 150px;
        max-width: 100%;
        &:hover{
          transform: scale(110%);
        }
      }
      h6{
        margin-top: 10px;
        color: $white;
      }
      a{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

