.navbar {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.11);
img{
  height: 30px;
  margin-right: 5px;
}
  .nav-item {
    margin-bottom: 3px;
    a{
      text-decoration: none;
      margin: 10px;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .navbar-collapse {
    .btn {
      color: white;
      margin-right: 10px;
      &:hover{
        transform: scale(105%);
      }
    }
    span {
      cursor: pointer;
    }
  }
}